<aside class="gh-sidebar">
	<div class="gh-sidebar__section">
		<div class="gh-sidebar__header">
			<span class="gh-sidebar__section-title">Menú principal</span>
		</div>

		<nav class="gh-sidebar__nav">
			<ul class="gh-sidebar__list">
				<li class="gh-sidebar__item">
					<a routerLink="/dashboard" routerLinkActive="gh-sidebar__link--active" class="gh-sidebar__link">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="lucide lucide-layout-dashboard-icon lucide-layout-dashboard">
							<rect width="7" height="9" x="3" y="3" rx="1" />
							<rect width="7" height="5" x="14" y="3" rx="1" />
							<rect width="7" height="9" x="14" y="12" rx="1" />
							<rect width="7" height="5" x="3" y="16" rx="1" /></svg>
						<span class="gh-sidebar__link-text">
							Dashboard
						</span>
					</a>
				</li>
				<li class="gh-sidebar__item">
					<a routerLink="/chat" routerLinkActive="gh-sidebar__link--active" class="gh-sidebar__link">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-inbox-icon lucide-inbox">
							<polyline points="22 12 16 12 14 15 10 15 8 12 2 12" />
							<path
								d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" /></svg>
						<span class="gh-sidebar__link-text">
							Chat en Tiempo Real
						</span>
					</a>
				</li>
				<li class="gh-sidebar__item">
					<a routerLink="/tracking" routerLinkActive="gh-sidebar__link--active" class="gh-sidebar__link">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye">
							<path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
							<circle cx="12" cy="12" r="3" /></svg>
						<span class="gh-sidebar__link-text">
							Seguimiento
						</span>
					</a>
				</li>
				<li class="gh-sidebar__item">
					<a routerLink="/leads" routerLinkActive="gh-sidebar__link--active" class="gh-sidebar__link">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user">
							<path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
							<circle cx="12" cy="7" r="4" /></svg>
						<span class="gh-sidebar__link-text">
							Gestión de Leads
						</span>
					</a>
				</li>
				<li class="gh-sidebar__item">
					<a routerLink="/analytics" routerLinkActive="gh-sidebar__link--active" class="gh-sidebar__link">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="lucide lucide-chart-no-axes-column-icon lucide-chart-no-axes-column">
							<line x1="18" x2="18" y1="20" y2="10" />
							<line x1="12" x2="12" y1="20" y2="4" />
							<line x1="6" x2="6" y1="20" y2="14" /></svg>
						<span class="gh-sidebar__link-text">
							Análisis
						</span>
					</a>
				</li>
				<li class="gh-sidebar__item">
					<a routerLink="/settings" routerLinkActive="gh-sidebar__link--active" class="gh-sidebar__link">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
							stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
							class="lucide lucide-settings2-icon lucide-settings-2">
							<path d="M20 7h-9" />
							<path d="M14 17H5" />
							<circle cx="17" cy="17" r="3" />
							<circle cx="7" cy="7" r="3" /></svg>
						<span class="gh-sidebar__link-text">
							Configuración
						</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>