.gh-sidebar {
	display: flex;
	
	flex-direction: column;
	gap: 2rem;
	background-color: var(--color-sidebar-bg);
	font-size: var(--font-size-sm);
	

	&__section {
		margin-bottom: var(--spacing-xl);
		padding-top: var(--spacing-md);
	}

	&__header {
		padding: var(--spacing-md) var(--spacing-lg);
	}

	&__section-title {
		font-size: var(--font-size-xs);
		font-weight: 600;
		color: var(--color-text-light);
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}

	&__nav {
		margin-top: var(--spacing-sm);
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__item {
		margin: 1px 0;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: var(--spacing-sm) var(--spacing-lg);
		text-decoration: none;
		border-radius: 6px;
		margin: 0 var(--spacing-sm);
		transition: all 0.2s;
		font-weight: 500;
		color: var(--color-text);

		&:hover {
			// background-color: var(--color-hover);
			text-decoration: none;
		}

		&--active {
			color: var(--color-primary);
			// Se elimina la modificación del peso de la fuente para mantener consistencia
			// font-weight: 600;
		}
	}

	&__link-text {
		margin-left: 1rem;
		opacity: 0.8;
	}

	&__icon {
		margin-right: var(--spacing-md);
		width: 16px;
		height: 16px;
		color: var(--color-text);
	}
}